@import url(../../../fonts/fonts.css);
@import url(__container/video__container.css);
@import url(__item/video__item.css);

.video {
    width: calc(100% - 96px);
    max-width: 1184px;
    margin: 102px auto 0;
}

@media (max-width: 1024px) {
    .video {
        max-width: 928px;
        width: calc(100% - 48px);
    }
}

@media (max-width: 768px) {
    .video {
        max-width: 720px;
        width: calc(100% - 32px);
    }
}

@media (max-width: 460px) {
    .video {
        margin-top: 64px;
    }
}