.cover__title {
    position: relative;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    text-align: center;
    color: #FFFDFD;
    z-index: 10;
}

@media (max-width: 1024px) {
    .cover__title {
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .cover__title {
        font-size: calc(100vw*0.094);
    }
}

@media (max-width: 425px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
    }
}