.intro__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
    color: white;
    text-align: left;
}

@media (max-width: 460px) {
    .intro__title {
        font-size: 32px;
        max-width: 80%;
    }
}